* {
  margin: 0;
  text-decoration: none;
}

header {
  height: 50px;
  width: 100%;
  background-color: rgb(32, 32, 32);
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.one {
  background-color: rgb(142, 199, 128);
}

.one a {
  color: rgb(71, 62, 62);
}

.one:hover {
  background-color: rgb(76, 136, 71);
}

.one:active {
  background-color: rgb(63, 136, 56);
}

.two {
  background-color: rgb(233, 144, 42);
}

.two a {
  color: rgb(90, 32, 32);
}

.two:hover {
  background-color: rgb(211, 122, 21);
}

.two:active {
  background-color: rgb(212, 149, 39);
}

.three {
  background-color: rgb(165, 29, 29);
}

.three a {
  color: rgb(0, 0, 0);
}

.three:hover {
  background-color: rgb(122, 20, 20);
}

.three:active {
  background-color: rgb(99, 16, 16);
}
