body {
  background-color: rgb(17, 17, 17);
}

h1 {
  text-align: center;
  color: rgb(218, 214, 214);
}

h2 {
  color: rgb(241, 239, 239);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.mainBoarder {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.mainB {
  margin: 5px;
  color: rgb(248, 101, 101);
}

input {
  width: 50px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

#button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
}

#newTxt {
  display: none;
}
