body {
  background-color: rgb(24, 23, 23);
}

.eita {
  height: 100%;
  width: fit-content;
}

.display-5 {
  color: white;
}

div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin: 10px;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
